//<FORM>
// Снипет (HTML):
.form {
   max-width: rem(535);
   background-color: $mainColor;
   .light & {
      background-color: $lightGreyColor;
   }
   border-radius: 10px;
   display: flex;
   padding: rem(6);
   position: relative;
   @media (max-width: em(430)){
      flex-direction: column;
   }
	&__row {
	}
	&__column {
	}
	&__line {
	}
	&__input {
      height: rem(64);
      flex: 1 1 auto;
      padding: 0 rem(20);
      color: $darkBgColor;
      &::placeholder {
         color: $darkBgColor;
      }
      .light & {
         background-color: $lightGreyColor;
      }
	}
	&__button {
	}
	&__error {
      position: absolute;
      top: 100%;
      left: 0;
      color: $redColor;
      font-size: rem(16);
      margin-top: rem(10);
      padding-left: rem(26);
	}
   & * {
      outline: none;
   }
}
//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
@import "button";

// <INPUTS>
// Снипет (HTML): inp
// @import "input";

// <CHECK>
// Снипет (HTML): chk
// @import "checkbox";

// <RADIO>
// Снипет (HTML): opt
// @import "radio";

// <SELECT>
// Снипет (HTML): sel
// @import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
// @import "range";

// <CALENDAR>
// Снипет (HTML):
// @import "datepicker";
