/* ADVANTAGE */

.advantage {
   @include adaptiveValue("padding-top", 100, 25);
   @include adaptiveValue("padding-bottom", 100, 25);
   // .advantage__body
   &__body {
      display: grid;
      row-gap: rem(30);
      @media (min-width:$tablet){
         grid-template-columns: 1fr percent(750, 1420);
      }
   }
   // .advantage__content
   &__content {
      @include adaptiveValue("padding-right", 95, 15, 2, 1420, 991.98);
      @media (max-width:$mobileSmall){
          text-align: center; 
      }
   }
}

.items-advantage {
   // .items-advantage__item
   &__item {
      display: flex;
      align-items: flex-start;
      gap: rem(32);
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 48, 30);
      }
      @media (max-width:$mobileSmall){
         flex-direction: column;
         justify-content: center; 
         align-items: center;
      }
   }
   // .items-advantage__icon
   &__icon {
      border-radius: 50%;
      flex: 0 0 rem(110);
      width: rem(110);
      height: rem(110);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $greenBgColor;
      & img {
         max-width: 50%;
      }
   }
   // .items-advantage__title
   &__title {
      font-size: rem(20);
      font-weight: 700;
      &:not(:last-child) {
         margin-bottom: rem(16);
      }
   }
   // .items-advantage__text
   &__text {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 48, 30);
      }
   }
}
