/* MY-PROF-SKILLS */
.my-prof-skills {
   @include adaptiveValue("padding-top", 100, 25);
   @include adaptiveValue("padding-bottom", 100, 25);
   // .my-prof-skills__container
   &__container {
      display: grid;
      row-gap: rem(30);
      @media (min-width:$tablet){
         grid-template-columns: 1fr percent(680, 1420);
      }
   }
   // .my-prof-skills__content
   &__content {
      @include adaptiveValue("padding-right", 177, 15);
      @media (max-width:$mobile){
          padding: 0px; 
      }
   }
   // .my-prof-skills__title
   &__title {
      @media (max-width:$mobileSmall){
         text-align: center; 
     }
   }
   // .my-prof-skills__text
   &__text {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 48, 30);
      }
      @media (max-width:$mobileSmall){
         text-align: center; 
     }
   }
   // .my-prof-skills__steps
   &__steps {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 55, 30);
      }
   }
   // .my-prof-skills__button
   &__button {
      min-width: rem(222);
      @media (max-width:$mobileSmall){
          width: 100%; 
      }
   }
   // .my-prof-skills__image
   &__image {
      padding: 0;
   }
}

.steps-my-prof-skills {
   list-style-type: none;
   counter-reset: item;
   display: grid;
   @include adaptiveValue("gap", 48, 20);
   // .steps-my-prof-skills__item
   &__item {
      font-size: rem(20);
      line-height: math.div(55, 20);
      display: flex;
      @include adaptiveValue("gap", 48, 15);
      &::before {
         counter-increment: item;
         content: counter(item);
         border-radius: 50%;
         width: rem(64);
         height: rem(64);
         background: rgba(255, 255, 255, 0.05);
         font-size: rem(36);
         text-align: center;
         line-height: rem(70);
         font-weight: 600;
         .light & {
            color: $greenColor;
            background: rgba(0, 128, 0, 0.1);
         }
      }
   }
}
